#main {
 display: flex;
 align-content: center;
 flex-wrap: wrap;
 background-color: grey;
 height: 710.7px;
 width: 100%;
 color: rgb(242, 242, 242);
 margin: 47px 121px 27px 0;
 font-family: "Segoe UI","wf_segoe-ui_normal","Arial",sans-serif;
}


h1, {
  margin-left: 23px;
  position: absolute;
  top: 174px;
  font-size: 39px;
}

p {
  margin-left: 23px;
  position: absolute;
  top: 250px;
  font-size: 39px;
}
