#main {
 display: flex;
 align-content: center;
 flex-wrap: wrap;
 background-color: grey;
 height: 710.7px;
 width: 100%;
 color: rgb(242, 242, 242);
 margin: 47px 121px 27px 0;
}


h1, p {
 margin-left: 23px;
}
