#aside {
  min-height: 556px;
  background-color: rgb(0, 0, 0);
  width: 92%;
  margin: 282px 121px 27px 60px;
  background-image: url('../blur.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}



