#main {
 display: flex;
 align-content: center;
 flex-wrap: wrap;
 background-color: grey;
 height: 760px;
 width: 100%;
 color: rgb(242, 242, 242);
 margin: 47px 121px 27px 0;
 font-family: "Segoe UI","wf_segoe-ui_normal","Arial",sans-serif;
 background-image: url("../img/class.jpg");
 background-repeat: no-repeat;
 background-size: cover;
}



#main  h1 {
  position: absolute;
  top: 225px;
  font-size: 50px;
  font-family: trench;
  margin-left: 62px;
  color: #fff;
}

#main p {
  position: absolute;
  top: 300px;
  font-size: 26px;
  font-family:  "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-left: 135px;
  color: #fff;
}


