#main {
 display: flex;
 align-content: center;
 flex-wrap: wrap;
 background-color: grey;
 height: 710.7px;
 width: 100%;
 color: rgb(242, 242, 242);
 margin: 47px 121px 27px 0;
 font-family: font-family: helvetica;
}


#main h1, p{
  margin-left: 23px;
}

#main  h1 {
  position: absolute;
  top: 135px;
  font-size: 39px;
}

#main p {

  position: absolute;
  top: 200px;
  font-size: 26px;
}


