#main {
 display: flex;
 align-content: center;
 flex-wrap: wrap;
 background-color: grey;
 height: 710.7px;
 width: 100%;
 color: rgb(242, 242, 242);
 margin: 47px 121px 27px 0;
 font-family: "Segoe UI","wf_segoe-ui_normal","Arial",sans-serif;
 background-image: url("../alone.jpg");
 background-repeat: no-repeat;
 background-size: cover;
}


#main h1, p{
  margin-left: 23px;
 }

#main  h1 {
  position: absolute;
  top: 135px;
  font-size: 39px;
  font-family: trench;
}

#main p {
  position: absolute;
  top: 200px;
  font-size: 22px;
 font-family:  "Helvetica Neue",Helvetica,Arial,sans-serif;
}


