@font-face {
  font-family: "trench";
  src: url("../fonts/trench100free.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}



.brand {
  position: absolute;
  left: 10px;
  display: inline-block;
  font-size: 1.8rem;
  font-family: "trench";
  line-height: 50px;
}



.navlink {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  padding: 0px 25px;
  line-height: 50px;
}

.container {
  width: 95%;
}

nav {
  box-shadow: 0 0 5px #888888;
  height: 50px;
}



