#article {
  background-color: rgb(51, 51, 51);
  height: 496.1px;
  width: 100%;
  margin: 345px 121px 27px 0;
}

#aside {
  min-height: 690px;
  background-color: rgb(0, 0, 0);
  width: 92%;
  color: #fff;
  margin: 130px 121px 27px 60px;
  background-image: url(assets/images/future.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}



#aside h1 {
  padding-top: 185px;
  text-align: center;
}


#aside p {
  font-size: 20px;
}
#careers {
 display: flex;
    align-content: center;
    flex-wrap: wrap;
    background-color: rgb(128, 128, 128);
    height: 601.7px;
    width: 100%;
    color: rgb(242, 242, 242);
    margin: 524px 214px 69px 0;
    font-family: "Segoe UI","wf_segoe-ui_normal","Arial",sans-serif;
    position: absolute;
    top: -468px;
    left: 0;
}
#footer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: absolute;
    left: 0;
    top: 2255px;
    height: 230px;
    width: 100%;
    font-size: 17px;
    color: rgb(51, 51, 51);
    /*background: rgb(242, 242, 242);*/
    background-color: #FFFFFF;
    font-weight: 400;
    line-height: 1.5;
    font-family: Segoe UI,wf_segoe-ui_normal,Arial,sans-serif;
}

h5 {
 margin-left: 40px;
}

.link {
 color: rgb(98, 98, 98);
 text-decoration: none;
}

.link:hover {
  color: rgb(51, 51, 51);
  text-decoration: underline;
}

ul {
 list-style-type: none;
}


 li {
 font-size: .8em;
 margin-bottom: .5em;
}



.legal {
    border-right: 1px solid rgb(214, 214, 214);
    margin-right: 10px;
    padding-right: 12px;
    display: inline-block;
    margin-top: 3px;
    white-space: nowrap;
}

.para {
 font-size: 13px;
 position: absolute;
 top: 358px;
 left: 1113px;
}

#main {
 display: flex;
 align-content: center;
 flex-wrap: wrap;
 background-color: grey;
 height: 760px;
 width: 100%;
 color: rgb(242, 242, 242);
 margin: 47px 121px 27px 0;
 font-family: "Segoe UI","wf_segoe-ui_normal","Arial",sans-serif;
 background-image: url(assets/images/Dassault-Systemes.jpg);
 background-repeat: no-repeat;
 background-size: cover;
}


#main h1, p{
  margin-left: 23px;
 }

#main  h1 {
  position: absolute;
  top: 135px;
  font-size: 39px;
  font-family: trench;
}

#main p {
  position: absolute;
  top: 200px;
  font-size: 22px;
 font-family:  "Helvetica Neue",Helvetica,Arial,sans-serif;
}


@face-face {
  font-family: "trench";
  src: url(assets/fonts/trench100free.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}

#navbar {
  position: fixed;
  top: 0;
  z-index: 9999;
  margin: 0;
  width: 100%;
  height: 40px;
  /*background: rgb(242, 242, 242);*/
  background-color: #FFFFFF;
  font-size: 23px;
  font-family: trench;
  list-style-type: none;
}

.logo {
  color: rgb(51, 51, 51);
  font-size: 35px;
  position: absolute;
  top: 12px;
  left: 20px;
}

.logo:link {
  text-decoration: none;
}

.navlink {
 color: rgb(51, 51, 51);
}
.navlink:link {
  text-decoration: none;
  margin-right: 50px;
}

.navlink:hover {
 color: #D2B48C;
 cursor: pointer;
}

.product {
 display: flex;
 position: absolute;
 top: 18px;
 left: 440px;
 letter-spacing: 1px;
}


section .product {
  font-size: 0.9em;
}
body {
  margin: 0 auto;
  /*background: rgb(242, 242, 242);*/
  background-color: #fff;
}

/*# sourceMappingURL=main.css.map*/