#vision {
  background-color: rgb(51, 51, 51);
  height: 496.1px;
  width: 100%;
  margin: 30px 112px 40px 0px;
  background-image: url("../../img/rafal-naczynski-1440.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#vision  h1 {
 position: absolute;
 top: 2240px;
 font-family: 'Candal', sans-serif;
 font-size: 50px;
 margin-left: 132px;
}

#vision p {
  position: absolute;
  top: 2340px;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  margin-left: 135px;
}

.mybtn2 {
  position: absolute;
  top: 2465px;
  font-family: 'Raleway', sans-serif;
  margin-left: 135px;
}

.test {
  font-size: 23px;
}


