#main {
 display: flex;
 align-content: center;
 flex-wrap: wrap;
 background-color: grey;
 height: 550px;
 width: 100%;
 margin: 0px 121px 27px 0;
 background-image: url("../../img/anthony-menecola-180787.jpg");
 background-repeat: no-repeat;
 background-size: cover;
}



#main  h1 {
 position: absolute;
 top: 225px;
 font-family: 'Candal', sans-serif;
 font-size: 50px;
 margin-left: 132px;
}

#main p {
  position: absolute;
  top: 300px;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  margin-left: 135px;
}


