#main {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    height: 725px;
    width: 100%;
    margin: 0 121px 27px 0;
    background: grey url("../../img/pics.png") no-repeat;
    background-size: cover;
    box-shadow: 0 0 5px #888888;
    border-radius: 15px 15px 15px 15px;
}



#main  h1 {
    position: absolute;
    top: 225px;
    font-family: 'Candal', sans-serif;
    font-size: 50px;
    margin-left: 132px;
    box-shadow: 0 0 1px #888888;
}

#main p {
    position: absolute;
    top: 300px;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    margin-left: 135px;
    box-shadow: 0 0 1px #888888;
}


